
* {
  margin: 0;
  padding: 0;
  font-size: 17px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0%;
}
.app-chat {
  width: 400px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgb(0, 0, 0.2);


}
.chat-header {

  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px;
}
.chat-header > img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-right: 10px;
}
.user-name {
  font-weight: bold;
  font-size: 16px;
}
.user-online-date {
  font-size: 12px;
  color: #b7b7b7;
  
}
.chat-body {
  background: #f3f3f3;
  height: 400px;
  padding: 20px;
  position: relative;
}
.chat-user {
  background: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 11px;
  width: 300px;
  margin-bottom: 20px;
  box-shadow: 0.1px 0.1px 20px gray;
  position: absolute;
}
.chat-me {
  background: #343434;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 11px;
  width: 300px;
  color: white;
  margin-bottom: 10px;
  box-shadow: 0.2px 5px  rgb(0, 0, 0,0.1);
  position: absolute;
  left: 20%;
  top: 100px;
}

.chat-footer{
  padding: 10px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-footer .buttons{
  display: flex;
  gap: 10px;
}
.chat-footer button{
  background: #23b144;
  color: #0a0a0a;
  border: none;
  padding: 10px 10px 10px 10px;
  border-radius: 100%;
  cursor: pointer;
  margin: 0%;
}
.chat-footer input[type="text"]{
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #a5ada3;
  font-size: 15px;
  width: 100%;
  max-width: 400px;
}
.chat-footer button:last-child{
  background: #1fb141;
  margin: 0%;
}