*{
    font-family: sans-serif;
    padding: none;
}
body{
    background-color: aqua;
}
.Login{
    background-color: white;
    width: 400px;
    height: auto;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 4px 4px 15px rgb(20, 20, 26);
}
.Login>div{
    background: #1b9c6b;
    height: 50px;
    font-size: x-large;
    font-weight: bolder;
    color: white;
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.Login >h1{
    background: #09de85;
    text-align:center;
    color: white;
    font-weight: 900px;
    margin-bottom: 40px;
}
.Login >form div{
    display: flex;
    flex-direction: column;
}
.Login>form div>label{
    
color: #0b0a0a;
}
.Login>form div input{
    border: none;
    outline: none;
    border-bottom: 30px #9a1212 solid;
    margin-bottom: 40px;
    div
    text-align: center;
    
    }
.Login>Form div>button{
    background: #0aa05a;
    color: rgb(244, 242, 238);
    padding: 20px 0;
    border: none;
    }
    .Login>form div>a{
        color: #280aa0;

    }
    
